$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1400px,
  3xl: 1600px,

);

@mixin breakpoint($point) {
  $pointValue: map-get($breakpoints, $point);

  @media (min-width: $pointValue) {
    @content;
  }
}

