@import '../../../shared/styles/mixins/breakpoints';



.root {
    width: 100%;
    background: var(--footer-background);
    color: #787878;
    padding-bottom: 80px;
}


.contactsHolder {

    display: flex;
    justify-content: space-between;
}

.contacts {
    padding: 20px;
    h2 {
        font-size: 36px;
        line-height: 56px;
        font-weight: 700;
        color: white;
    }
}

.contactsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
    li {
        display: flex;
        flex-direction: column;
        gap: 5px;
        p:first-child {
            font-size: 14px;
            font-weight: 600;
        }
        p:last-child {
            font-size: 18px;
            font-weight: 600;
            color: white;
        }
    }

  
}

.links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}


.map {
    display: none;
}




@include breakpoint(md) {

    .map {
        display: block;
    }
 
}