:root {
    --background-color: rgb(255, 255, 255);


    --button-background: rgba(0, 179, 2, 1);
    --button-background-hover: rgb(1, 202, 4);


    --primary-color:rgba(0, 179, 2, 1);
   
    --footer-background: rgba(7, 107, 0, 1);


    --swiper-pagination-color:rgba(0, 179, 2, 1);
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-bullet-inactive-color: rgba(245, 245, 245, 1);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bottom: 32px;
}



