



.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url('./../../../../public/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.content {
    height: 100svh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 58px;
    font-weight: 600;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}

.test {
    height: 100vh;
    width: 100%;
    background: white;
}